.App {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.small-chart {
  width: 300px; /* Adjusted width for the Doughnut chart */
  height: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.chart {
  width: 500px; /* Adjusted width for the Bar chart */
  height: 400px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fullscreen-chart {
  width: 600px;  /* Set the width for the Radar chart */
  height: 400px; /* Set the height for the Radar chart */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover effects */
.small-chart:hover, 
.chart:hover, 
.fullscreen-chart:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

h2 {
  margin-bottom: 10px;
}
